body {
  font-family: Arial, sans-serif;
  background: #3498db;
  color: #fff;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;

  border-radius: 10px;
  margin-bottom: 20px;
}

.container h1 {
  color: #ffffff;
}

.container a {
  color: #090909;
  text-decoration: none;
  transition: color 0.3s ease;
}

.container a:hover {
  color: #f6f7f8;
}

footer {
  background: linear-gradient(to bottom, #3498db, #2c3e50);
  /* Degradê no rodapé */
  color: #0d0d0d;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
